/*============================================================================*/
/* Code Space 是位于 GitHub 上的开源项目，发起者为 MangoFanFan。 */
/* 项目部署在 code.mangofanfan.cn，遵循 CC BY / GPL 3.0 协议。 */
/*============================================================================*/

/**
  file.mangofanfan.cn 是芒果的网站。
  这些字体由于比较大所以就放在上面了，不然的话 GitHub Action 可能由于上传超时导致失败……
 */

/**
  OPPO Sans 4.0~
 */
@font-face {
  font-family: 'OPPO Sans';
  src: url('https://file.mangofanfan.cn/s/jhfjip') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/**
  霞鹜文楷
 */
@font-face {
  font-family: 'LXGW WenKai';
  src: local('LXGW WenKai Light');
  font-weight: 300;
}
@font-face {
  font-family: 'LXGW WenKai';
  src: local('LXGW WenKai');
  font-weight: 400;
}
@font-face {
  font-family: 'LXGW WenKai';
  src: local('LXGW WenKai Medium');
  font-weight: 500;
}
@font-face {
  font-family: 'LXGW WenKai Mono';
  src: local('LXGW WenKai Mono Light');
  font-weight: 300;
}
@font-face {
  font-family: 'LXGW WenKai Mono';
  src: local('LXGW WenKai Mono');
  font-weight: 400;
}
@font-face {
  font-family: 'LXGW WenKai Mono';
  src: local('LXGW WenKai Mono Medium');
  font-weight: 500;
}
