/* font.css */
@font-face {
    font-family: 'LXGW';
    src: url('fonts/LXGWWenKai-Light.woff2') format('woff2'),
    url("fonts/LXGWWenKai-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'LXGW';
    src: url('fonts/LXGWWenKai-Medium.woff2') format('woff2'),
    url("fonts/LXGWWenKai-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'LXGW';
    src: url('fonts/LXGWWenKai-Regular.woff2') format('woff2'),
    url("fonts/LXGWWenKai-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LXGWMono';
    src: url('fonts/LXGWWenKaiMono-Light.woff2') format('woff2'),
    url("fonts/LXGWWenKaiMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'LXGWMono';
    src: url('fonts/LXGWWenKaiMono-Medium.woff2') format('woff2'),
    url("fonts/LXGWWenKaiMono-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'LXGWMono';
    src: url('fonts/LXGWWenKaiMono-Regular.woff2') format('woff2'),
    url("fonts/LXGWWenKaiMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}