/* font.css */

/**
  file.mangofanfan.cn 是芒果的网站。
  这些字体由于比较大所以就放在上面了，不然的话 GitHub Action 可能由于上传超时导致失败……
 */

/**
  OPPO Sans 4.0~
 */
@font-face {
  font-family: 'OPPO Sans';
  src: url('https://file.mangofanfan.cn/s/jhfjip') format('truetype');
  font-weight: 400;
  font-style: normal;
}
