.VPSocialLinks.VPNavBarSocialLinks.social-links {
  margin-right: 0;
}
/* 滚动槽 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: var(--vp-c-bg);
  -webkit-box-shadow: inset 0 0 5px var(--vp-c-border);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--vp-c-text-3);
  -webkit-box-shadow: inset 0 0 10px var(--vp-c-border);
}

/* 图片圆角 */
img {
  border-radius: 5px;
}

body {
  font-synthesis: none;
}
